$cBlack: Black;

body {
    text-align: center;
}

.rect {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: $cBlack;
    animation: sk-bouncedelay 1.4s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    // animation-direction: reverse;
    animation-direction: alternate;  // 折り返し
    animation-fill-mode: forwards;  // 終了時のcssが適用される
    
}

butten {
    padding: 10px 40px;
    margin: 20px;
    border: 1px solid $cBlack;
    cursor: pointer;
}

.paused {
    animation-play-state: paused;

}

@keyframes sk-bouncedelay {
    0% { // from
        transform: scale(0);
        background-color: $cBlack;
    }
    20% {
        transform: scale(0.2);
        background-color: white;
    }
    40% {
        transform: scale(0.4);
        background-color: blue;
    }
    60% {
        transform: scale(0.6);
        background-color: yellow;
    }

    100% { // to
        transform: scale(0.8);
        background-color: red;
    }
}